footer{
    background-color: rgb(250, 250, 250);
    padding:2rem 2rem 1rem 2rem;
}
.flexbox{
    margin: 0rem 2rem 0rem 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    cursor: pointer;
}
.iclass{
    margin-top: .5rem;
}
.globe{
    margin-top: .5rem;
}
.hover{
    cursor: pointer;
}
.showing{
    display: none;
}
@media(max-width:980px){
    .flexbox{
        flex-direction: column;
        width: 100%;
        line-height: 2rem;
    }
    .showing{
        display: block;
    }
    .last-content{
        margin-left: 100px;
    }
}